In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('./data/Tweets.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [5]:
data['tweet_created'] = pd.to_datetime(data['tweet_created'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  datetime64[ns, pytz.FixedOffset(-480)]
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: datetime64[ns, pytz.FixedOffset(-480)](1), float64(2), int64(2), object(10)
memory usage: 1.7+ MB

In [6]:
data[~data['tweet_coord'].isna()]['tweet_coord']

21        [40.74804263, -73.99295302]
28          [42.361016, -71.02000488]
29        [33.94540417, -118.4062472]
32       [33.94209449, -118.40410103]
34          [33.2145038, -96.9321504]
                     ...
14577    [33.93939612, -118.38973148]
14596    [35.22534456, -106.57241352]
14612     [40.46692522, -82.64567078]
14624      [32.9070889, -97.03785947]
14625     [40.64946781, -73.76624703]
Name: tweet_coord, Length: 1019, dtype: object

In [7]:
data['tweet_coord'].iloc[21]

'[40.74804263, -73.99295302]'

In [8]:
def parse_geo(string):
    try:
        return string[1:-1]
    except:
        return np.nan

In [9]:
data['geo'] = data['tweet_coord'].apply(parse_geo)

In [11]:
data[['tweet_coord', 'geo']]

      tweet_coord  geo
0             NaN  NaN
1             NaN  NaN
2             NaN  NaN
3             NaN  NaN
4             NaN  NaN
...           ...  ...
14635         NaN  NaN
14636         NaN  NaN
14637         NaN  NaN
14638         NaN  NaN
14639         NaN  NaN

[14640 rows x 2 columns]

In [12]:
lat = []
lon = []

for row in data['geo']:
    try:
        lat.append(row.split(', ')[0])
        lon.append(row.split(', ')[1])
    except:
        lat.append(np.nan)
        lon.append(np.nan)

data['latitude'] = lat
data['longitude'] = lon

In [13]:
data.shape

(14640, 18)

In [14]:
len(lat), len(lon)

(14640, 14640)

In [19]:
data.sample(10)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone,geo,latitude,longitude
12783,570024324666564610,negative,1.0000,Customer Service Issue,0.6927,American,NaN,garytx,NaN,3,.@AmericanAir No. I watched these bags be aban...,NaN,2015-02-23 16:56:04-08:00,"Austin, Texas area",Central Time (US & Canada),NaN,NaN,NaN
1666,569630987858132992,negative,1.0000,Bad Flight,0.3371,United,NaN,anuaimi,NaN,0,@united of course. But interesting how United ...,NaN,2015-02-22 14:53:05-08:00,Toronto,Eastern Time (US & Canada),NaN,NaN,NaN
11827,567734506434854912,negative,1.0000,Customer Service Issue,1.0000,US Airways,NaN,portugrad,NaN,0,@USAirways I can't believe that you would refe...,NaN,2015-02-17 09:17:08-08:00,Chicagoland Area,Central Time (US & Canada),NaN,NaN,NaN
12528,570123872168574976,negative,1.0000,Customer Service Issue,1.0000,American,NaN,mycreativespark,NaN,0,"@AmericanAir will not help us on the phone, at...",NaN,2015-02-23 23:31:38-08:00,Ohio,Quito,NaN,NaN,NaN
7934,568963192489029632,neutral,0.3469,NaN,0.0000,Delta,NaN,tsmit,NaN,0,@JetBlue weather where? It's 60 in SFO and fl...,NaN,2015-02-20 18:39:30-08:00,"Boston, MA",Eastern Time (US & Canada),NaN,NaN,NaN
9506,569899859161026560,negative,1.0000,Customer Service Issue,1.0000,US Airways,NaN,electromail,NaN,0,"@USAirways That is the height of rudeness, and...",NaN,2015-02-23 08:41:29-08:00,Watching @Interpol somewhere,Amsterdam,NaN,NaN,NaN
4106,567822065471860736,negative,1.0000,Late Flight,1.0000,United,NaN,cslhilo,NaN,1,@united You make it hard to fly with you. Dela...,NaN,2015-02-17 15:05:04-08:00,"Hilo, HI",Hawaii,NaN,NaN,NaN
2996,568803679018491904,negative,0.6875,Late Flight,0.6875,United,NaN,josephpwilson,NaN,0,.@united Nope - had to rebook through Houston ...,NaN,2015-02-20 08:05:39-08:00,"San Francisco, CA",NaN,NaN,NaN,NaN
919,570014406320517120,negative,1.0000,Bad Flight,0.6656,United,NaN,brooklyn_dodger,NaN,0,@united empathizes w/ my disappointment that 1...,NaN,2015-02-23 16:16:39-08:00,Brooklyn,Eastern Time (US & Canada),NaN,NaN,NaN
3489,568382290352590848,negative,0.7084,Flight Booking Problems,0.3618,United,NaN,swampynomo,NaN,0,@united thanks ^mr i got rebooked already but ...,NaN,2015-02-19 04:11:12-08:00,NJ/NYC,Eastern Time (US & Canada),NaN,NaN,NaN

In [ ]:
data[~data['geo'].isna()]['geo']

In [ ]:
coords = data[~data['geo'].isna()][['latitude', 'longitude']].astype(float).reset_index(drop=True)
coords.head()

In [ ]:
type(coords.iloc[0]['latitude'])

In [ ]:
coords.to_csv('./data/coords.csv', index = False)

In [ ]:
import streamlit as st
st.map(coords)