In [82]:
import pandas as pd
import numpy as np

In [83]:
data = pd.read_csv('./data/Tweets.csv')
data.head(3)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [85]:
data['tweet_created'] = pd.to_datetime(data['tweet_created'])
data.head(3)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52-08:00,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59-08:00,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48-08:00,Lets Play,Central Time (US & Canada)

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  datetime64[ns, pytz.FixedOffset(-480)]
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: datetime64[ns, pytz.FixedOffset(-480)](1), float64(2), int64(2), object(10)
memory usage: 1.7+ MB

In [87]:
import plotly.express as px

In [88]:
data[~data['tweet_coord'].isna()]['tweet_coord']

21        [40.74804263, -73.99295302]
28          [42.361016, -71.02000488]
29        [33.94540417, -118.4062472]
32       [33.94209449, -118.40410103]
34          [33.2145038, -96.9321504]
                     ...
14577    [33.93939612, -118.38973148]
14596    [35.22534456, -106.57241352]
14612     [40.46692522, -82.64567078]
14624      [32.9070889, -97.03785947]
14625     [40.64946781, -73.76624703]
Name: tweet_coord, Length: 1019, dtype: object

In [89]:
data['tweet_coord'] = data['tweet_coord'].fillna(' ', inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   0 non-null      object
 12  tweet_created                 14640 non-null  datetime64[ns, pytz.FixedOffset(-480)]
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: datetime64[ns, pytz.FixedOffset(-480)](1), float64(2), int64(2), object(10)
memory usage: 1.7+ MB

In [95]:
data.head(28)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,None,2015-02-24 11:35:52-08:00,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,None,2015-02-24 11:15:59-08:00,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,None,2015-02-24 11:15:48-08:00,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,None,2015-02-24 11:15:36-08:00,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,None,2015-02-24 11:14:45-08:00,NaN,Pacific Time (US & Canada)
5,570300767074181121,negative,1.0000,Can't Tell,0.6842,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica seriously would pay $30 a fligh...,None,2015-02-24 11:14:33-08:00,NaN,Pacific Time (US & Canada)
6,570300616901320704,positive,0.6745,NaN,0.0000,Virgin America,NaN,cjmcginnis,NaN,0,"@VirginAmerica yes, nearly every time I fly VX...",None,2015-02-24 11:13:57-08:00,San Francisco CA,Pacific Time (US & Canada)
7,570300248553349120,neutral,0.6340,NaN,NaN,Virgin America,NaN,pilot,NaN,0,@VirginAmerica Really missed a prime opportuni...,None,2015-02-24 11:12:29-08:00,Los Angeles,Pacific Time (US & Canada)
8,570299953286942721,positive,0.6559,NaN,NaN,Virgin America,NaN,dhepburn,NaN,0,"@virginamerica Well, I didn't…but NOW I DO! :-D",None,2015-02-24 11:11:19-08:00,San Diego,Pacific Time (US & Canada)
9,570295459631263746,positive,1.0000,NaN,NaN,Virgin America,NaN,YupitsTate,NaN,0,"@VirginAmerica it was amazing, and arrived an ...",None,2015-02-24 10:53:27-08:00,Los Angeles,Eastern Time (US & Canada)
10,570294189143031808,neutral,0.6769,NaN,0.0000,Virgin America,NaN,idk_but_youtube,NaN,0,@VirginAmerica did you know that suicide is th...,None,2015-02-24 10:48:24-08:00,1/1 loner squad,Eastern Time (US & Canada)
11,570289724453216256,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica I &lt;3 pretty graphics. so muc...,None,2015-02-24 10:30:40-08:00,NYC,America/New_York
12,570289584061480960,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica This is such a great deal! Alre...,None,2015-02-24 10:30:06-08:00,NYC,America/New_York
13,570287408438120448,positive,0.6451,NaN,NaN,Virgin America,NaN,mollanderson,NaN,0,@VirginAmerica @virginmedia I'm flying your #f...,None,2015-02-24 10:21:28-08:00,NaN,Eastern Time (US & Canada)
14,570285904809598977,positive,1.0000,NaN,NaN,Virgin America,NaN,sjespers,NaN,0,@VirginAmerica Thanks!,None,2015-02-24 10:15:29-08:00,"San Francisco, CA",Pacific Time (US & Canada)
15,570282469121007616,negative,0.6842,Late Flight,0.3684,Virgin America,NaN,smartwatermelon,NaN,0,@VirginAmerica SFO-PDX schedule is still MIA.,None,2015-02-24 10:01:50-08:00,"palo alto, ca",Pacific Time (US & Canada)
16,570277724385734656,positive,1.0000,NaN,NaN,Virgin America,NaN,ItzBrianHunty,NaN,0,@VirginAmerica So excited for my first cross c...,None,2015-02-24 09:42:59-08:00,west covina,Pacific Time (US & Canada)
17,570276917301137409,negative,1.0000,Bad Flight,1.0000,Virgin America,NaN,heatherovieda,NaN,0,@VirginAmerica I flew from NYC to SFO last we...,None,2015-02-24 09:39:46-08:00,this place called NYC,Eastern Time (US & Canada)
18,570270684619923457,positive,1.0000,NaN,NaN,Virgin America,NaN,thebrandiray,NaN,0,I ❤️ flying @VirginAmerica. ☺️👍,None,2015-02-24 09:15:00-08:00,Somewhere celebrating life.,Atlantic Time (Canada)
19,570267956648792064,positive,1.0000,NaN,NaN,Virgin America,NaN,JNLpierce,NaN,0,@VirginAmerica you know what would be amazingl...,None,2015-02-24 09:04:10-08:00,Boston | Waltham,Quito
20,570265883513384960,negative,0.6705,Can't Tell,0.3614,Virgin America,NaN,MISSGJ,NaN,0,@VirginAmerica why are your first fares in May...,None,2015-02-24 08:55:56-08:00,NaN,NaN
21,570264145116819457,positive,1.0000,NaN,NaN,Virgin America,NaN,DT_Les,NaN,0,@VirginAmerica I love this graphic. http://t.c...,None,2015-02-24 08:49:01-08:00,NaN,NaN
22,570259420287868928,positive,1.0000,NaN,NaN,Virgin America,NaN,ElvinaBeck,NaN,0,@VirginAmerica I love the hipster innovation. ...,None,2015-02-24 08:30:15-08:00,Los Angeles,Pacific Time (US & Canada)
23,570258822297579520,neutral,1.0000,NaN,NaN,Virgin America,NaN,rjlynch21086,NaN,0,@VirginAmerica will you be making BOS&gt;LAS n...,None,2015-02-24 08:27:52-08:00,"Boston, MA",Eastern Time (US & Canada)
24,570256553502068736,negative,1.0000,Customer Service Issue,0.3557,Virgin America,NaN,ayeevickiee,NaN,0,@VirginAmerica you guys messed up my seating.....,None,2015-02-24 08:18:51-08:00,714,Mountain Time (US & Canada)
25,570249102404923392,negative,1.0000,Customer Service Issue,1.0000,Virgin America,NaN,Leora13,NaN,0,@VirginAmerica status match program. I applie...,None,2015-02-24 07:49:15-08:00,NaN,NaN
26,570239632807370753,negative,1.0000,Can't Tell,0.6614,Virgin America,NaN,meredithjlynn,NaN,0,@VirginAmerica What happened 2 ur vegan food o...,None,2015-02-24 07:11:37-08:00,NaN,NaN
27,570217831557677057,neutral,0.6854,NaN,NaN,Virgin America,NaN,AdamSinger,NaN,0,@VirginAmerica do you miss me? Don't worry we'...,None,2015-02-24 05:44:59-08:00,"San Francisco, CA",Central Time (US & Canada)

In [65]:
str1 = data[~data['tweet_coord'].isna()]['tweet_coord'].iloc[0][1:-1]
str1

'40.74804263, -73.99295302'

In [66]:
str1.split(', ', )

['40.74804263', '-73.99295302']

In [55]:
import re
lst1 = re.findall("\d+\.\d+", str1)
lst1

['40.74804263', '73.99295302']

In [30]:
lst1[0]

'40.74804263'

In [77]:
data['tweet_coord'] = data['tweet_coord'].str.extract(r'(\d+\.\d+)')

In [81]:
data[data['tweet_coord'] != '']['tweet_coord'].iloc[0]

nan

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   0 non-null      object
 12  tweet_created                 14640 non-null  datetime64[ns, pytz.FixedOffset(-480)]
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: datetime64[ns, pytz.FixedOffset(-480)](1), float64(2), int64(2), object(10)
memory usage: 1.7+ MB

In [ ]:
data pd.DataFrame(data.tweet_coord.str.split(', '))