In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./data/Tweets.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [4]:
data['tweet_created'] = pd.to_datetime(data['tweet_created'])
data.head(3)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52-08:00,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59-08:00,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48-08:00,Lets Play,Central Time (US & Canada)

In [5]:
data[~data['tweet_coord'].isna()]['tweet_coord']

21        [40.74804263, -73.99295302]
28          [42.361016, -71.02000488]
29        [33.94540417, -118.4062472]
32       [33.94209449, -118.40410103]
34          [33.2145038, -96.9321504]
                     ...
14577    [33.93939612, -118.38973148]
14596    [35.22534456, -106.57241352]
14612     [40.46692522, -82.64567078]
14624      [32.9070889, -97.03785947]
14625     [40.64946781, -73.76624703]
Name: tweet_coord, Length: 1019, dtype: object

In [6]:
data['tweet_coord'].iloc[21]

'[40.74804263, -73.99295302]'

In [7]:
def parse_geo(string):
    try:
        return string[1:-1]
    except:
        return np.nan

In [8]:
data['geo'] = data['tweet_coord'].apply(parse_geo)

In [9]:
data[['tweet_coord', 'geo']].iloc[21]

tweet_coord    [40.74804263, -73.99295302]
geo              40.74804263, -73.99295302
Name: 21, dtype: object

In [10]:
lat = []
lon = []

for row in data['geo']:
    try:
        lat.append(row.split(', ')[0])
        lon.append(row.split(', ')[1])
    except:
        lat.append(np.NaN)
        lon.append(np.NaN)

data['latitude'] = lat
data['longitude'] = lon

In [11]:
data.shape

(14640, 18)

In [12]:
len(lat), len(lon)

(14640, 14640)

In [13]:
data[~data['geo'].isna()]['geo']

21        40.74804263, -73.99295302
28          42.361016, -71.02000488
29        33.94540417, -118.4062472
32       33.94209449, -118.40410103
34          33.2145038, -96.9321504
                    ...
14577    33.93939612, -118.38973148
14596    35.22534456, -106.57241352
14612     40.46692522, -82.64567078
14624      32.9070889, -97.03785947
14625     40.64946781, -73.76624703
Name: geo, Length: 1019, dtype: object

In [14]:
coords = data[~data['geo'].isna()][['latitude', 'longitude']].astype(float).reset_index(drop=True)
coords.head()

    latitude   longitude
0  40.748043  -73.992953
1  42.361016  -71.020005
2  33.945404 -118.406247
3  33.942094 -118.404101
4  33.214504  -96.932150

In [15]:
type(coords.iloc[0]['latitude'])

numpy.float64

In [17]:
coords.to_csv('./data/coords.csv', index = False)

In [16]:
import streamlit as st
st.map(coords)